ELASTIC_VERSION=7.10.2
KIBANA_VERSION=7.10.2
LOGSTASH_VERSION=7.10.2
WAZUH_VERSION=4.5.4
WAZUH_PLUGIN_VERSION=4.5.4_7.10.2-1
WAZUH_MANAGER_IP=wazuh.manager

# Passwords (Change these in production!)
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme
