ELASTIC_VERSION=7.10.2
KIBANA_VERSION=7.10.2
LOGSTASH_VERSION=7.10.2
WAZUH_VERSION=4.5.4
WAZUH_PLUGIN_VERSION=4.5.4_7.10.2-1
WAZUH_MANAGER_IP=wazuh.manager
WAZUH_INDEXER_VERSION=4.5.4
WAZUH_DASHBOARD_VERSION=4.5.4
WAZUH_INDEXER_PASSWORD=changeme
WAZUH_API_URL=https://host.docker.internal
WAZUH_API_PORT=55000
WAZUH_UI_USERNAME=wazuh-wui
WAZUH_UI_PASSWORD=wazuh-wui
WAZUH_DASHBOARD_USERNAME=kibanaserver
WAZUH_DASHBOARD_PASSWORD=kibanaserver

# Passwords (Change these in production!)
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme
